!!! 5
!!!
%html
	%head
		%meta{:charset => "utf8"}
		%link(rel="stylesheet" media="screen, projection" type="text/css" href="stylesheets/screen.css")
		%link(rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Didact Gothic")
		%script(type="type/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js")
		%script(type="type/javascript" src="js/main.js")	
%body
	%title kaosCV
%body.bp.two-col
#container.showgrid
	#header
		#info
			.name Kasper Jordaens
			.date&="ยบ1981"
			.twitter @kaosbeat
			.phone +32474436640
			.meta lives with Sarah, has 3 kids

		#logo
			%img{:src => "img/logo.png"}
	#sidebar
		#education
			%h2 Education
			%ul.columnlist
				%li
					.date 1999-2005
					.title Master Civil Engineer Architect
					.place Ghent University
				%li
					.date 2002-2003
					.title erasmus exchange
					.place Ecole d'architecture Paris la Vilette

		#work
			%h2 Work experience
			%ul.columnlist
				%li
					.date 2009-current
					.title Researcher internet innovation
					.place VRTmedialab
					.description In my current position I explore new Internet related technology and try to materialize those concepts into new media experiences. 
				%li
					.date 2005-2009
					.title Designer - Engineer 
					.place Studio Wim Delvoye
					.description In my first full time job I have evolved from assistant designer to project manager. As an engineer and designer I assisted the artist in accomplishing complex designs where technical aspects had to be accommodated in the aesthetic needs. I also outsourced certain aspects and streamlined the workflow both in studio as at the production sites.
				%li
					.date 2011-current
					.title founder-owner
					.place Kaotec
					.description In 2011 I founded a company to professionalize what I had been doing after office hours, getting slightly impossible ideas of the ground by adding suitable technology in a way you hadn't imagined before.
	#content
		#references
			%h2 some achievements
			%ul.widelist
				%li.rowing Junior world championship rowing, 4- B-final, Linz 1998
				%li.movie&="'Radorevant', movie, direction & script, Paris 2003"
				%li.performance&="'Noisefest', dynamic visuals (actionscript) & live sound (pure data) performance, Gent 2005"
				%li.wd&="'Tattooed Pigs', development of a multi-angle video installation for Wim Delvoye, Lyon, Paris, Montreal, ... 2005-2008"
				%li.wd&="'Chapel', design of a sheet steel structure for Wim Delvoye in MuDAM, Luxembourg 2006"
				%li.wd&="'Pretzels', design and modelling of bronze sculptures for Wim Delvoye, Ghent 2006"
				%li.house Londenstraat 40, house, architectural design, Ghent 2007
				%li.wd&="'Tower', design of a sheet steel structure for Wim Delvoye, 2008"
				%li.wd&="Training CAD-assistents in Shanghai for Wim Delvoye, Shanghai 2008"
				%li.wd&="'Torre', project management and design of a sheet steel structure for Wim Delvoye, Guggenheim Venice 2009"
				%li.brt&="'#DeKoers', design of an interactive realtime webapp for Sporza, 2010"
				%li.cj&="'Children of Minkowski', Collaborative Art Project, Caeyers & Jordaens Gent 2010"
				%li.raket&="'Tetanus 1', a 9m high rocket build from scrap, co-design/build 2010"
				%li.brt&="'Llingo', Workpacket leader for Llingo, IBBT project, 2009-2011"
				%li.brt&="'Blending CGI with real 3D', workshop at BARCO and euroitv2010 for VRT, 2010"
				%li.brt&="'OGOM', 2nd screen apps for realtime interaction with live TV for VRT, 2010"
				%li.brt&="'Mediasquare/villasquare', 2nd screen platform and apps for mainstream TV-show VRT, 2011"
	#background
		.lines
	#footer
